<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
      <add name="AccountConnectionString" connectionString="Data Source=DEVSERVER\SQLEXPRESS;Initial Catalog=Account;Persist Security Info=True;User ID=sa;Password=12345" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>