<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=DEVSERVER\SQLEXPRESS;Initial Catalog=Account;Persist Security Info=True;User ID=sa;Password=12345;Connection Timeout=0" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="BackupFilePath" value="E:\Data_From_Dataserver\EMS\AccountBackUpTest\"/>
    <add key="BackupDateOption" value="7"/>
  </appSettings>
</configuration>