<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    
    <add key="AccountAdmin" value="admin,zaw" /> <!--system admin-->
    <add key="canExportUsr" value="test"/>
    
    <!--for dynamically binding years-->
    <add key="minYear" value="2013" />    

    <!--for saving logs for del/edit trans-->
    <add key="DeleteLogPath" value="C:\My Data\Projects\LOGSDeleteTrans_Log.txt" />    
    <add key="EditLogPath" value="C:\My Data\Projects\LOGSEditTrans_Log.txt" />
    
  <!--for adding transaction attachments-->
    <add key="attachFolderPath" value="~\Trans_Attachments\" />
    
  <!--for exporting transaction report-->
    <add key="exportFormatPath" value="~\ExcelFormat\TransactionReport\" />
    <add key="transRptExFmtFile" value="ReportExcel_Format.xlsx"/>
  
  </appSettings>
    <system.web>    
      <!--<roleManager enabled="true" />-->
      <httpHandlers>
        <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"
          validate="false" />
      </httpHandlers>
      <compilation debug="true" targetFramework="4.0">
        <buildProviders>
          <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
        </buildProviders>
      </compilation>
      <authentication mode="Forms">
        <forms loginUrl="~/Admin/Login.aspx" slidingExpiration="true" timeout="120"  />
      </authentication>
      <!--add sitemap provider for admin menu in master page-->
      <siteMap enabled="true" defaultProvider="SiteMap">
        <providers>
          <add name="SiteMap" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Web.sitemap" securityTrimmingEnabled="true" />
        </providers>
      </siteMap>
      <httpRuntime executionTimeout="240" maxRequestLength="204800" />
    </system.web>
    <connectionStrings>
      <add name="AccountConnectionString" connectionString="Data Source=163.43.105.244;Initial Catalog=Account;Persist Security Info=True;User ID=sa;Password=admin123456!" providerName="System.Data.SqlClient" />
   <!-- <add name="AccountConnectionString" connectionString="Data Source=LAPTOP-6ICH8UHB\MSSQLSERVER2014;Integrated Security=true;Initial Catalog=Account" providerName="System.Data.SqlClient" />  -->
  </connectionStrings>
<system.webServer>
    <!-- Add this to here.... -->
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
<add name="ReportViewerWebControlHandler" preCondition="integratedMode"    verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
  <defaultDocument>
    <files>
      <add value="Admin/Login.aspx" />
    </files>
  </defaultDocument>
  <directoryBrowse enabled="false" />
  </system.webServer>
  
</configuration>
