<?xml version="1.0"?>
<configuration>
      <location path="AccountEntry.aspx">
        <system.web >
          <authorization>
            <allow roles="Administrators" />
            <allow users="admin" />
            <deny users="*" />
          </authorization>
        </system.web>
      </location>
      <location path="Error_Log.aspx">
        <system.web >
          <authorization>
            <allow roles="Administrators" />
            <allow users="admin" />
            <deny users="*" />
          </authorization>
        </system.web>
      </location>
   <location path="Menu_Entry.aspx">
        <system.web >
          <authorization>
            <allow roles="Administrators" />
            <allow users="admin" />
            <deny users="*" />
          </authorization>
        </system.web>
      </location>
  <location path="RolesEntry.aspx">
        <system.web >
          <authorization>
            <allow roles="Administrators" />
            <allow users="admin" />
            <deny users="*" />
          </authorization>
        </system.web>
      </location>
  <location path="TransactionType_Entry.aspx">
    <system.web >
      <authorization>
        <allow roles="Administrators" />
        <allow users="admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="UserEntry.aspx">
    <system.web >
      <authorization>
        <allow roles="Administrators" />
        <allow users="admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="FormEntry.aspx">
        <system.web >
          <authorization>
            <allow roles="Administrators" />
            <allow users="admin" />
            <deny users="*" />
          </authorization>
        </system.web>
      </location>
</configuration>
