<?xml version="1.0"?>
<configuration>

  <location path="HomePage.aspx">
    <system.web >
      <authorization>
        <allow roles="Administrators" />
         <allow roles="Users" />
        <allow users="admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
      <location path="OpeningBalance.aspx">
        <system.web >
          <authorization>
            <allow roles="Administrators" />
            <allow users="admin" />
            <deny users="*" />
          </authorization>
        </system.web>
      </location>
      <location path="Transaction_Report.aspx">
        <system.web >
          <authorization>
            <allow roles="Users,Administrators" />
            <allow users="admin" />
            <deny users="*" />
          </authorization>
        </system.web>
      </location>
   <location path="TransactionEntry.aspx">
        <system.web >
          <authorization>
            <allow roles="Administrators" />
            <allow users="admin" />
            <deny users="*" />
          </authorization>
        </system.web>
      </location>
</configuration>
